/* Empty file for template. Remember to edit only this file and not the HTML file */
body {
    margin-left: 15%;
    margin-right: 15%;
}


.preamble, #zen-supporting {
    background-color: #C55643;
    max-width: 52%;
    position: absolute;
    margin-left: 20%;

}

.preamble, #zen-supporting, aside {
    display: flex;
    flex-direction: column;
}

h1::before {
    content:url(/images/tree-removebg-preview.png);
    max-width: 5px;
    max-height: 5px;
}

h3 ::before {
    content: url(/images/leafsingle-removebg-preview.png);
}

body {
    background-color: #6D89BF;
    display: flex;
    align-content:flex-end
}

header {
text-align: center;
display: inline-block;
width: 100%;
}

aside, header {
    background-color: #C67004;
}

aside {
    max-width: 47%;
    border-color: #344566;
}