/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
:link {
    text-decoration: underline;
    color: black;
}

:visited{
    text-decoration: underline;
    color: black;
}

* {
font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}
 div.summary p:last-child:not(a) {
    opacity: 1;
}

div.summary p:last-child a {
    background-color: #344566;
    color: white;
    padding: 5px;
    border: 2px, solid, #C67004;
}

#zen-supporting h3::before{
    content: url(/images/leafsingle-removebg-preview.png);
    transform: scale(.2);
    position: absolute;
    left: -60px
}


body {
    margin-left: 15%;
    margin-right: 15%;
}
.preamble {
    background-color: #C55643;
    max-width: 100%;
    border: 10px, solid, #344566;
    padding-left: 1%;
    text-indent: 1%;
}

 #zen-supporting {
    background-color: #C55643;
    max-width: 50%;
    position: absolute;
    border: 10px, solid, #344566;
    right: 14%;
    padding-left: 1%;
    text-indent: 1%;
}

.preamble, #zen-supporting, aside {
    display: flex;
    flex-direction: column;
}

h1::before {
    content:url(/images/tree-removebg-preview.png);
    transform: scale(.5);
    position: absolute;
    left: 6.5%;
    top: -145px;
}

div h3 ::before {
    content: url(/images/leafsingle-removebg-preview.png);
}

:root {
    background-color: #6D89BF;
    display: flex;
    align-content:flex-end
}

header {
    text-align: flex-start;
    width: 100%;
    border: 10px, solid, #344566;
    text-indent: 15%;
    font-size: 32px;
    margin-top: -1.5%
}

aside, header {
    background-color: #C67004;
}

aside {
    max-width: 30%;
    border: 10px, solid, #344566;
    padding-bottom: 33.55%;
}